ion-card {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

ion-card-content div {
	display: flex;
	flex-direction: column;
}

.check-icon {
	font-size: 2.3rem;
	color: #28a745;
}

.ellipse-icon {
	font-size: 2.3rem;
	color: lightgray;
}