:root {
	/* --ion-tab-bar-color: white; */
	/* --ion-tab-bar-color-selected: var(--ion-color-primary); */
		/* --ion-tab-bar-color:rgb(59, 59, 59); */
}

ion-tab-bar {
	--background: white;
/*	box-shadow: none;*/
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	/* border-radius: 16px; */
	/* width: 90%; */
	/* padding-top: 5px; */
	/* padding-bottom: 5px; */
	border: none;
}

ion-tab-button {
	border-radius: 16px !important;
}

ion-tab-button ion-icon {
	font-size: 1.75rem;
}

.ion-header {
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
	border: none !important;
}
ion-button {
	box-shadow: none !important;
}

ion-card {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}